body {
    font-family: 'New Tegomin', serif;
    background-color: black;
}

html:before,
html:after,
body:before,
body:after {
    content: "";
    background: rgb(99, 23, 23);
    position: fixed;
    display: block;
    z-index: 1;
}

/* 上 */
html:before {
    height: 10px;
    width: 100vw;
    left: 0;
    top: 0;
}

/* 右 */
html:after {
    width: 10px;
    height: 100vh;
    right: 0;
    top: 0;
}

/* 下 */
body:before {
    height: 10px;
    width: 100vw;
    bottom: 0;
    left: 0;
}

/* 左 */
body:after {
    width: 10px;
    height: 100vh;
    top: 0;
    left: 0;
}

/* 普通はタイトルではなくナビゲーションバー */
nav {
    text-align: right;
    background-color: rgb(99, 23, 23, 0.5);
    position: fixed;
    box-shadow: 0 0 3px 0 black;
    width: 100%;
    height: 100px;
    left: 0;
    margin: 0;
    top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    margin-top: 1%;
}

nav ul li {

    text-decoration: none;
    list-style: none;
    display: inline-block;
    width: 10%;
    min-width: 90px;
    padding-right: 3%;
}

nav ul li a {
    text-decoration: none;
    color: gainsboro;
    font-size: 2em;
}

nav ul li.current a {
    color: #F33135;
}

nav ul li a:visited {
    color: black;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* .title {
    background-color: rgb(99, 23, 23, 0.5);
    position: fixed;
    box-shadow: 0 0 3px 0 black;
    width: 100%;
    height: 100px;
    left: 0;
    margin: 0;
    top: 0;
}

.titles {
    color: gainsboro;
    text-decoration: none;
    height: 100px;
    font-size: 2em;
    padding: 0.75em 1em;
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    margin-left: auto;
}

.titles:visited {
    color: black;
}

.titles:hover {
    background-color: rgba(0, 0, 0, 0.2);
} */

.img-wrapper {
    width: 100%;
    margin: auto;
    display: block;
    padding-top: 16em;
    padding-bottom: 16em;
    background-image: url(../img/ホーム４.PNG);
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.synopsis1 {
    color: red;
    padding-top: 100px;
    font-size: 100px;
}

#Story {
    text-align: center;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
    margin: 3em 5em;
    font-weight: bold;
    /*文字色*/
    border: solid 3px #695959;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
}

.a {
    color: rgb(255, 25, 0);
}

.b {
    background: linear-gradient(transparent 70%, rgba(255, 95, 247, 0.656) 70%);
}

.c {
    background: linear-gradient(transparent 70%, rgba(255, 95, 247, 0.656) 70%);
}

.d {
    color: rgb(79, 117, 123);
    font-size: 3ex;
    margin: 3px;
}

.story1 {
    color: white;
    font-size: 10ex;
    margin: 30px;
}

.story2 {
    color: white;
    font-size: 4ex;
}

.story3 {
    color: white;
    font-size: 5.5ex;
}

.story4 {
    color: rgb(108, 51, 208);
    font-size: 4ex;
}

.Others {
    text-align: center;
}

.others1 {
    color: white;
    font-size: 8ex;
    margin-top: 50px;
    margin-bottom: 20px;
}

.otherss {
    color: rgb(125, 161, 255);
    font-size: 3ex;
    margin-right: 20%;
    margin-left: 20%;
}

.photo {
    font-size: 28px;
    color: rgb(145, 217, 217);
    margin-right: 8%;
    margin-left: 8%;
}

.X {
    font-size: 5em;
    color: rgb(0, 0, 0);
    text-shadow:
        2px 2px 2px #fff, -2px -2px 2px #fff,
        -2px 2px 2px #fff, 2px -2px 2px #fff,
        2px 0px 2px #fff, -2px -0px 2px #fff,
        0px 2px 2px #fff, 0px -2px 2px #fff;
    margin-right: 20px;
}

.facebook {
    font-size: 5em;
    color: rgb(11, 61, 242);
    text-shadow:
        2px 2px 2px #fff, -2px -2px 2px #fff,
        -2px 2px 2px #fff, 2px -2px 2px #fff,
        2px 0px 2px #fff, -2px -0px 2px #fff,
        0px 2px 2px #fff, 0px -2px 2px #fff;
    margin-right: 20px;
}

.line {
    font-size: 5em;
    color: rgb(47, 154, 66);
    text-shadow:
        2px 2px 2px #fff, -2px -2px 2px #fff,
        -2px 2px 2px #fff, 2px -2px 2px #fff,
        2px 0px 2px #fff, -2px -0px 2px #fff,
        0px 2px 2px #fff, 0px -2px 2px #fff;
    margin-right: 20px;
}

.access {
    display: flex;
    justify-content: center;
}

.access iframe {
    width: 100%;
    height: 60%;
    margin-left: 10px;
}

.access img {
    width: 100%;
    height: 60%;
    margin-left: 20px;
}

.access1 {
    color: antiquewhite;
    text-align: center;
    font-size: 8ex;
    margin-top: 50px;
    margin-bottom: 30px;
}

.access2 {
    color: white;
    font-size: 4ex;
    margin-left: 20px;
}

#cover {
    font-size: 8ex;
    text-align: center;
}

#page_top {
    width: 100px;
    height: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: rgb(99, 23, 23);
}

#page_top a {
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    text-decoration: none;
}

#page_top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -25px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

#page_top a::after {
    content: 'PAGE TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

/* スマホ用の例 (フレームワークのグリッドと科を使わない場合) */
/* https://sole-color-blog.com/blog/71/ */

/* @media screen and (max-width: 480px) {

  } */
