body {
    font-family: 'New Tegomin', serif;
    background-color: black;
}

html:after,
html:before,
body:before {
    content: "";
    background: rgb(99, 23, 23);
    position: fixed;
    display: block;
    z-index: 1;
}

/* 右 */
html:after {
    width: 10px;
    height: 100vh;
    right: 0;
    top: 0;
}

/* 左 */
html:before {
    width: 10px;
    height: 100vh;
    top: 0;
    left: 0;
}

/* 下 */
body:before {
    height: 10px;
    width: 100vw;
    bottom: 0;
    left: 0;
}

/* 普通はタイトルではなくナビゲーションバー */
nav {
    text-align: right;
    background-color: rgb(99, 23, 23, 0.5);
    position: fixed;
    box-shadow: 0 0 3px 0 black;
    width: 100%;
    height: 100px;
    left: 0;
    margin: 0;
    top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    margin-top: 1%;
}

nav ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    width: 10%;
    height: 100%;
    min-width: 130px;
    padding-right: 3%;
}

nav ul li a {
    text-decoration: none;
    color: gainsboro;
    font-size: 2em;
}

nav ul li.current a {
    color: #F33135;
}

nav ul li a:visited {
    color: gainsboro;
}

.synopsis1 {
    color: red;
    padding-top: 150px;
    font-size: 100px;
}

.Story {
    text-align: center;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
    margin: 3em 5em;
    font-weight: bold;
    /*文字色*/
    border: solid 3px #695959;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
}

.a {
    color: rgb(255, 25, 0);
}

.d {
    color: rgb(156, 107, 47);
    font-size: 3ex;
    margin: 3px;
}

.story1 {
    color: white;
    font-size: 10ex;
    margin: 30px;
}

.story2 {
    color: white;
    font-size: 4ex;
}

.story3 {
    color: white;
    font-size: 5.5ex;
}

.story4 {
    color: rgb(137, 110, 236);
    font-size: 4ex;
    padding-top: 50px;
}

.Others {
    text-align: center;
}

.others1 {
    color: white;
    font-size: 8ex;
    margin-top: 50px;
    margin-bottom: 20px;
}

.otherss {
    color: rgb(125, 161, 255);
    font-size: 3ex;
    margin-right: 20%;
    margin-left: 20%;
}

.poster {
    width: 30%;
    margin-top: 20px;
}

.poster2 {
    color: rgb(125, 81, 245);
    font-size: 2em;
}

.photo {
    color: rgb(160, 127, 251);
    font-size: 1.8em;
}

.photo1 {
    text-align: center;
    margin-top: 30px;
}

.img-home {
    width: 90%;
    height: auto;
}

.X {
    font-size: 6em;
    color: rgb(0, 0, 0);
    text-shadow:
        2px 2px 2px #fff, -2px -2px 2px #fff,
        -2px 2px 2px #fff, 2px -2px 2px #fff,
        2px 0px 2px #fff, -2px -0px 2px #fff,
        0px 2px 2px #fff, 0px -2px 2px #fff;
    margin-right: 20px;
}

.facebook {
    font-size: 6em;
    color: rgb(11, 61, 242);
    text-shadow:
        2px 2px 2px #fff, -2px -2px 2px #fff,
        -2px 2px 2px #fff, 2px -2px 2px #fff,
        2px 0px 2px #fff, -2px -0px 2px #fff,
        0px 2px 2px #fff, 0px -2px 2px #fff;
    margin-right: 20px;
}

.line {
    font-size: 6em;
    color: rgb(47, 154, 66);
    text-shadow:
        2px 2px 2px #fff, -2px -2px 2px #fff,
        -2px 2px 2px #fff, 2px -2px 2px #fff,
        2px 0px 2px #fff, -2px -0px 2px #fff,
        0px 2px 2px #fff, 0px -2px 2px #fff;
    margin-right: 20px;
}

.kounaimap {
    width: 40%;
}

.mapsetsumei {
    color: white;
    padding-top: 20px;
}

.access {
    width: 100%;
    text-align: center;
}

.access1 {
    color: white;
    text-align: center;
    font-size: 8ex;
    margin-top: 50px;
    margin-bottom: 30px;
}

.access2 {
    width: 600px;
    height: 480px;
    margin: 0 auto;
}

/*.access2 iframe {
    width: 50%;
    height: 60%;
    margin: 0 auto;
}*/

.access3 {
    text-align: center;
    color: white;
    padding-top: 20px;
}

#cover {
    font-size: 8ex;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    color: #4e4242;
}

#page_top {
    width: 100px;
    height: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: rgb(99, 23, 23);
}

#page_top a {
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    text-decoration: none;
}

#page_top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -25px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

#page_top a::after {
    content: 'PAGE TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.link_button {
    text-decoration: none;
    color: rgb(125, 161, 255);
}

.link_button:hover {
    text-decoration: underline;
    color: gray;
}

/* スマホ用の例 (フレームワークのグリッドと科を使わない場合) */
/* https://sole-color-blog.com/blog/71/ */

/* @media screen and (max-width: 480px) {

  } */
